#!/bin/bash

export CLIENT_ID="YOUR_VALUE_HERE" 
export CLIENT_SECRET="YOUR_VALUE_HERE"
export AUTH_ID="auth_id_001" # user defined value, arbitrary change if needed
export AUTH_URI="YOUR_VALUE_HERE"
export TOKEN_URI="YOUR_VALUE_HERE"
