#!/bin/bash

# export PROJECT_ID=$(gcloud config get-value project)
# export PROJECT_NUMBER=$(gcloud projects describe $(gcloud config get-value project) --format='value(projectNumber)')

export PROJECT_ID="YOUR_VALUE_HERE" 
export PROJECT_NUMBER="YOUR_VALUE_HERE" 

export APP_ID="YOUR_VALUE_HERE"  # ID of agentspace app 

export DISPLAY_NAME="Data Science Agent"
export DESCRIPTION="A multi-agent system designed for sophisticated data analysis"
export TOOL_DESCRIPTION="Mulitple data science related tools"
